.wrapper#home {
    background-color: var(--primary-bg-color);
    /* background-color: rosybrown; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1#title {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 25px;
}

#buttonsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonsWrapper button {
    margin: 20px;
}

#buttonsWrapper span {
    font-weight: bold;
}
