#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 25px;
}

#messages {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.messageWrapper {
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.messageWrapper.received {
    align-self: flex-start;
}

.messageWrapper .timestamp {
    color: gray;
}

#inputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#inputWrapper input {
    flex-grow: 1;
    height: 100%;
    font-size: 1.3em;
}
