.options {
    display: flex;
    justify-content: center;
}

.option {
    background-color: transparent;
    border: 2px solid #010105;
    padding: 10px;
    border-radius: 18px;
    margin: 0 5px;
}

.option.selected {
    background-color: black;
    color: white;
}
