.options {
    display: flex;
    justify-content: space-around;
}

.option {
    background-color: transparent;
    border: 2px solid #010105;
    padding: 15px 10px;
    border-radius: 18px;
    margin: 0 5px;
    flex-basis: 33%;
    text-align: center;
}

.option.selected {
    background-color: black;
    color: white;
}
