#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 25px;
}
